<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
   		 <link href="../css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
        <title>Pagina de Login </title>
    </head>
<body>
	<div id="content-wrap">
	<div class="span2">
		<div class="user">
			<img src="images/user.png" alt=""></img>
		</div>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
		<div class="login">
			<div class="inset">
				<form th:action="@{/login}" method="post">
					<div><label> User Name : <input type="text" name="username"/> </label></div>
					<div><label> Password: <input type="password" name="password"/> </label></div>
					<div class="sign">
						<div><input type="submit" value="Sign In"/></div>
						<span class="forget-pass">
								<a href="#">Forgot Password?</a>
						</span>
							<div class="clear"> </div>
					</div>
				</form>
			</div>
		</div>
			</div>
		</div>
    </body>
</html>